html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
  
  
body{
    font-weight: 600;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


* {
  cursor: url('../../../assets/images/cursor/cursor1.png'), default;
}

* a{
  cursor: url('../../../assets/images/cursor/cursor3.png'), default;
}

* .btn:hover{
  cursor: url('../../../assets/images/cursor/cursor3.png'), default;
}
  
  section{
    padding:2rem 9%;
  }


  /*========navbar starts========*/

/*==========Navbar=============*/

.navbar{
  background-color: #111;
}

.navbar .container .navbar-brand a{
  color: #fff;
  display: block;
  overflow: hidden;
  text-decoration: none;
  text-shadow: 3px 1px 3px #111;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  animation: write 1.9s steps(50) infinite alternate;
}

@keyframes write {
from {
  width: 0%
}
to {
  width: 100%
}
}

.navbar a span{
  color: #e64c3d;
}

.navbar-nav {
text-align: center;
}

.navbar-nav li{
font-family: 'Poppins',sans-serif;
}

.navbar-nav li a{
font-size: 16px;
font-weight: 600;

text-shadow: 0px 1px 3px #111;
color: #fff;
}

.navbar-nav li a::before{
  content: "";
  color: #fff;
  display: absolute;
  height: 3px;
  left: 0;
  bottom: 0; 
  text-align: center;
  justify-content: center;
  background-color: #111;
  position: absolute;
  transition: transform 0.4s ease; 
  transform : scale(0,1); 
}

.navbar-nav li a:hover{
  transform : scale(1,1); 
  color: #e64c3d; 
  transition: transform 0.4s ease-in-out; 
}



.navbar-nav li a:hover::before{
   
  transform : scale(1,1);  
  width: 100%; 
  background-color: #e64c3d;
  transition: transform 0.4s ease; 
}

.dropdown-menu a{
background-color: #fff;
font-size: 16px;
text-shadow: 0px 1px 3px #fff;
text-decoration: none;
color: #000;
}

.dropdown-menu a:hover{

color: #e64c3d;

text-shadow: 0px 1px 3px #111;
text-decoration: none;
background-color: #111;

}

.navbar .navbar-item i{
font-size: 25px;
margin-right: 5px;
}

.navbar-brand{
  color:#fff;
  font-weight: bold;
  font-size: 35px!important;
}
.nav-link{
  font-weight: 600;
  color: #fff;
  font-size: 18px;
}
.btn-group{
  color: #fff;
}



.navbar-toggler {
padding: 1px 5px;
font-size: 18px;
line-height: 0.3;
}

.navbar-toggler i{
color: #e74c3c;
line-height: 27px;
font-size: 24px;
text-shadow: 0px 1px 3px #000;
}

.nav-link {
padding: .2rem 1rem;
}


.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  background-color: #fff;
  border-radius: 20px;
  margin-right: 10px;
  }

  .search_input{
    color: #000;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 42px;
    text-align: left;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
      padding: 0 10px;
      width: 100px;
      transition: width 0.4s linear;
      }
  
      .searchbar:hover > .search_icon{
      color: #e74c3c;
      }
  
      .search_icon{
      height: 40px;
      width: 40px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color:#000;
      text-decoration:none;
      }


      
  

    .searchbar:hover > .search_icon{
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#000;
    text-decoration:none;
    }
    input {
      outline: none;
    }
    
    input[type=search] {
      -webkit-appearance: textfield;
      -webkit-box-sizing: content-box;
      font-family: inherit;
      font-size: 100%;
    }
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
      display: none; 
    }
    input[type=search] {
      padding: 9px 10px 9px 32px;
      width: 55px;
      background: #ededed url(../../../assets/images/searchicon/search-icon.png) no-repeat 9px center;
      border: solid 1px #ccc;
      
      -webkit-border-radius: 10em;
         -moz-border-radius: 10em;
              border-radius: 10em;
      
      -webkit-transition: all .5s;
         -moz-transition: all .5s;
              transition: all .5s;
    }
    input[type=search]:focus {
      width: 130px;
      background-color: #fff;
      border-color: #e74c3c;
      
      -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
         -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
              box-shadow: 0 0 5px rgba(109,207,246,.5);
    }
    
    /* Demo 2 */
    #demo-2 input[type=search] {
      width: 15px;
      padding-left: 10px;
      color: transparent;
      cursor: pointer;
    }
    #demo-2 input[type=search]:hover {
      background-color: #fff;
    }
    #demo-2 input[type=search]:focus {
      width: 30px;
      padding-left: 32px;
      color: #000;
      background-color: #fff;
      cursor: auto;
    }
    #demo-2 input:-moz-placeholder {
      color: transparent;
    }
    #demo-2 input::-webkit-input-placeholder {
      color: transparent;
    }
  
  /*========End of Navbar===========*/

   /*========logn/sign up===========*/
a {
	cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
	text-decoration: none;
}
.link {
  color: #c4c3ca;
}
.link:hover {
  color: #e74c3c;
}
p a{
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
}
h4 {
  color: #fff;
  font-weight: 600;
}
h6 span{
  font-size: 24px;
  color: #fff;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #e74c3c;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #e74c3c;
  background-color: #ffeba7;
  content: '\21F1';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-290deg);
}


.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.form-group .fas {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn:active,
.btn:focus{  
  background-color: #ffeba7;
  color: #e74c3c;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{  
  background-color: #e74c3c;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

/*========logn/sign up===========*/
 
/*========Burgers starts===========*/

.bg-img{
  background:#fff;
}

.heading{
text-align: center;
font-family: 'Poppins',sans-serif;
font-size: 2.5rem;
font-weight: 600;
text-decoration: underline;
padding:1rem;
color:#666;
}

.heading span{
color: #e74c3c;
}


.product-grid{
font-family: 'Poppins', sans-serif;
text-align: center;
border-radius: 15px;
box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
border: 1px solid #e7e7e7;
overflow: hidden;
transition: all 0.4s ease-out;
}
.product-grid:hover{ 
border-radius: 10px;
  transform: scale(1.1);
}
.product-grid .product-image{ 
position: relative; 
}
.product-grid .product-image a.image{ 
display: block; 
}
.product-grid .product-image img{
width: 100%;
height: 350px;
}
.product-grid .product-discount-label{
color: #fff;
background: #e64c3d;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
padding: 2px 8px;
border-radius: 5px;
position: absolute;
top: 12px;
left: 12px;
}
.product-grid .product-content{
padding: 12px 12px 15px;
background-color: #fff;
position: relative;
}
.product-grid .rating{
padding: 0;
margin: 0 0 8px;
list-style: none;
}
.product-grid .rating li{
color: #e64c3d;
font-size: 14px;
}
.product-grid .rating .far{ color: #808080; }
.product-grid .title{
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
margin: 0 0 15px;
}
.product-grid .title a{
color: #2c2c2c;
transition: all 0.3s ease 0s;
}
.product-grid .title a:hover{
 color: #e64c3d; 
}
.product-grid .price{
color: #e64c3d;;
font-size: 17px;
font-weight: 600;
display: block;
transition: all 0.4s ease-in-out;
}
.product-grid .price span{
color: #999;
font-weight: 500;
text-decoration: line-through;
}
.product-grid:hover .price
{ 
opacity: 0; 
}
.product-grid .add-to-cart{
color: #fff;
background-color: #e64c3d;;
font-size: 16px;
font-weight: 500;
text-transform: uppercase;
line-height: 40px;
width: 140px;
height: 40px;
border-radius: 50px;
opacity: 0;
transform: translateX(-50%);
position: absolute;
bottom: 50px;
left: 50%;
transition: all .4s ease-out;
}
.product-grid .add-to-cart:hover
{ 
background-color: #000; 
}
.product-grid:hover .add-to-cart{
opacity: 1;
bottom: 8px;
}
@media screen and (max-width:1200px){
.product-grid{ margin: 0 0 30px; }
}


/*========Burgers ends===========*/




  /* footer styling */

  footer{
    font-family: 'Poppins',sans-serif;
    background: #000;
    text-align: center;
  }
  
  
  
  footer .container .row i{
      color: #fff;
      gap: 1rem;
      justify-content: center;
      text-decoration: none;
  }
  
  footer .container .row i:hover{
    color: #e74c3c;
    transition: all 0.4s ease-out;
    transform: scale(1.5);
  }
  
  footer .credit{
    top: 0;
    color:#fff;
    font-weight: normal;
    font-size: 2rem;
  }
  
  footer .credit{
    font-size: 18px;
  }
  
  footer .credit a{
    color: #F4511E;
  }
  
  footer .credit a:hover{
    text-decoration: underline;
  }
  

  
@media (min-width: 400px) {
  footer a i{
    font-size: 25px;
  }

  
}